@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background: #000000;
    color: #e8e8e8;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    overscroll-behavior: none;
    padding: 0;
    overflow-y: hidden;
}

#app {
    background-image: url("https://ziker.s3.us-east-2.amazonaws.com/bg-zikeron.jpeg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    overflow-x: hidden;
}
