.container {
    display: grid;
    grid-template: 15% 450px 15% 5%/ 10% 80% 10%;
    grid-template-areas: ". . ." ". profile ." ". navigation ." ". footer .";
    height: 100vh;
}

.container__visible {
    animation-name: crescendo;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.container__hidden {
    visibility: hidden;
}

.profile {
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    grid-area: profile;
    height: 100%;
}

.profile__container {
    align-content: center;
}

.profile__container picture {
    display: flex;
    justify-content: center;
}

.profile__img {
    border-radius: 50%;
    border: 8px solid #e8e8e8;;
}

.profile__container-title {
    animation-duration: 2s;
    animation-name: bounceIn;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.profile__container p {
    animation-delay: 5s;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 16px 0 16px 0;
    padding: 16px;
    text-align: center;
}

@media only screen and (max-width: 320px) {
    .profile__container p {
        font-size: 12px;
        padding: 9px;
    }
    .profile__container-title {
        font-size: 40px;
    }

}

@media only screen and (min-width: 450px) {
    .profile {
        margin: 0 auto;
        width: 85%;
    }
    .profile__container p {
        font-size: 16px;
    }
}

@media all and (min-width: 768px) {
    .profile__container p {
        font-size: 14px;
        font-weight: 300;
        margin: 12px 0 12px 0;
        padding: 12px;
        text-align: center;
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes crescendo {
    0%   {transform: scale(.80);}
    25%   {transform: scale(.95);}
    50%   {transform: scale(1);}
    50%   {transform: scale(1.05);}
    100% {transform: scale(1);}
}
