.container {
    display: grid;
    grid-template: 12% 450px 12% 5%/1fr;
    grid-template-areas: "." "profile" "navigation" "footer";
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.item {
    padding: 8px 24px;
}

.item p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
}

.children {
    grid-area: children;
    padding: 12px;
}

@media all and (min-width: 400px) {
    .container {
        grid-template: 12% 450px 15% 5%/ 10% 80% 10%;
        grid-template-areas: ". . ." ". profile ." ". navigation ." ". footer .";
    }
}

@media all and (min-width: 768px) {
    .container {
        grid-template: 12% 450px 15% 5%/15% 70% 15%;
        grid-template-areas: ". . ." ". profile ." ". navigation ." ". footer .";
    }
}
