.container {
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid blue;
    height: 100vh;
    margin: 0 2%;
}

.item {
    padding: 8px 24px;
}

.item p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
}

@media only screen and (min-device-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 25% 71%;
        margin: 0 2%;
    }
}


@media only screen and (min-device-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 30% 56% 14%;
        margin: 0 2%;
    }
}
