.container {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "profile" "navigation" "footer";
    height: 100%;
    width: 100%;
}

.item {
    padding: 8px 24px;
}

.item p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
}

.children {
    grid-area: children;
    padding: 12px;
}

@media only screen and (min-device-width: 768px) {
    .container {
        display: grid;
        grid-template: 15% 450px 20% 5%/ 10% 80% 10%;
        grid-template-areas: ". . ." ". profile ." ". navigation ." ". footer .";
        height: 100vh;
    }
}

@media only screen and (min-device-width: 1024px) {
    .container {
        display: grid;
        grid-template: 15% 450px 20% 5%/15% 70% 15%;
        grid-template-areas: ". . ." ". profile ." ". navigation ." ". footer .";
        height: 100vh;
    }
}
