.modal {
    background-color: rgba(0,0,0,0.95);
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    color: #fff;
    height: auto;
    max-height: 90vh;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.modal__fadein,
.modal__fadeout {
    opacity: 0;
    transition: all .3s ease-out
}

.modal__fadein {
    opacity: 1;
}

.modal__header {
    display: flex;
    background: linear-gradient(to bottom, #fff3 0.5%, #fff0 100%);
    border-radius: 4px;
    position: relative;
    top: 0;
    justify-content: space-between;
}

.modal__header-title {
    display: flex;
    margin-left: 24px;
    width: 95%;
    align-items: center;
}

.modal__header-title p {
    margin: 0;
    padding: 0;
}

.modal__header-close {
    font-size: 18px;
    font-weight: 900;
    width: 10%;
    text-align: center;
}

.modal__header-close:hover {
    cursor: pointer;
}

.modal__container {
    box-sizing: border-box;
    font-weight: 100;
    padding: 24px;
    max-height: calc(744px - 85px);
    overflow-y: auto;
}

.modal__container::-webkit-scrollbar {
    display: none !important;
}

@media all and (min-width: 768px) {
    .modal {
        width: 80%;
    }
}

@media all and (min-width: 1024px) {
    .modal {
        width: 55%;
    }
}
