.modal {
    background-color: rgba(0,0,0,0.95);
    box-sizing: border-box;
    display: block;
    color: #fff;
    height: 90vh;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 5vh;
    width: 90%;
}

.modal__header {
    display: flex;
    background: linear-gradient(to bottom, #fff3 0.5%, #fff0 100%);
    justify-content: space-between;
}

.modal__header-title {
    display: flex;
    margin-left: 24px;
    width: 95%;
    align-items: center;
}

.modal__header-title p {
    margin: 0;
    padding: 0;
}

.modal__header-close {
    font-size: 18px;
    font-weight: 900;
    width: 10%;
    text-align: center;
}

.modal__header-close:hover {
    cursor: pointer;
}

.modal__container {
    box-sizing: border-box;
    font-weight: 100;
    padding: 24px;
    height: 90%;
    overflow-y: auto;
}

@media all and (min-width: 768px) {
    .modal {
        width: 80%;
    }
}

@media all and (min-width: 1024px) {
    .modal {
        width: 55%;
    }
}
