.contact__container {
    display: grid;
    font-weight: 500;
    grid-template: auto /auto 25% 25% auto;
    grid-template-areas: ". image link ."  ;
    margin: 48px 0 48px 0;
    text-align: center;
    width: 100%;
}

.contact__container-img {
    grid-area: image;
}

.contact__container-img figure  {
    margin: 0;
}

.contact__container-img figure img {
    height: 60px;
    border-radius: 50%;
}

.contact__container-link {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: xx-large;
    grid-area: link;
    margin: 0 auto;
}


.contact__container-link a {
    color: #e8e8e8;
    text-decoration: none;
}

.contact__container-link a:hover {
    text-decoration: underline;
}

@media all and (max-width: 400px) {
    .contact__container {
        grid-template: auto / auto 30% 30% auto;
        grid-template-areas: ". image link .";

    }
}

@media all and (max-width: 768px) {
    .contact__container {
        grid-template: auto / auto 40% 40% auto;
        grid-template-areas: ". image link .";

    }
}
