.contact__container {
    align-items: center;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    font-weight: 500;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.contact__container-img figure img {
    height: 60px;
    border-radius: 50%;
}

.contact__container-link {
    box-sizing: border-box;
    font-size: xx-large;
}

.contact__container-link a {
    color: #e8e8e8;
    text-decoration: none;
}

.contact__container-link a:hover {
    text-decoration: underline;
}

@media all and (min-width: 400px) {
    .contact__container {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        font-weight: 500;
        justify-content: center;
        margin: 48px 0 48px 0;
        text-align: center;
        width: 100%;
    }

    .contact__container-img {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    .contact__container-link {
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }
}
