.footer {
    grid-area: footer;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__container p {
    font-size: 11px;
    font-weight: 300;
    text-align: center;
}

@media all and (min-width: 400px) {
    .footer__container p {
        padding: 0 24px 0 24px;
    }
}
